@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: jejuHallasan;
  src: url(./assets/Fonts/JejuHallasan-Regular.ttf);
}

@font-face {
  font-family: itim;
  src: url(./assets/Fonts/Itim-Regular.ttf);
}

@keyframes like {
  0% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  65% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #000000e7, #080808);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d0099;
  border-radius: 10px;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

* {
  outline: 0;
}

/* background: linear-gradient(180deg, #000000e7, #2e0b0b);
  background-attachment: fixed; */

/* background: linear-gradient(180deg, #000000e7, #080808);
  background-attachment: fixed; */

/* .table-liking {
  background: linear-gradient(180deg, #000000e7, #2e0b0b);
  background-attachment: fixed;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(180deg, #000000e7, #2e0b0b); */
  background: linear-gradient(180deg, #000000e7, #080808);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper-pagination-bullet {
  @apply md:!h-4 md:!w-4;
}

.sliderInfo {
  width: 100%;
  height: 50%;
  position: absolute;
  background: rgba(256, 256, 256, 0.5);
  bottom: -60%;
  clip-path: polygon(0 0, 100% 90%, 100% 100%, 0% 100%);
  transition: 0.5s;
}

.sliderSlide:hover .sliderInfo,
.sliderSlide:focus .sliderInfo {
  bottom: 0;
}

.categoryMusic * {
  transition: 0.3s;
}

.categoryMusic:hover img {
  /* filter: blur(8px); */
}

.categoryMusic:hover span {
  transform: rotate(-4deg);
  /* mix-blend-mode: ; */
  font: bold;
  /* color: white; */
}

.artistInfo * {
  transition: 300ms;
}

.artistInfo:hover .headphone {
  opacity: 100%;
}

.artistInfo:hover .artistName {
  transform: translate(0, 5px);
}

.swiper-wrapper {
  padding: 12px 0 0 8px;
}

.trackPoster {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  bottom: 0%;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
  z-index: 999;
}

.posterBody:hover img {
  filter: blur(10px);
}

.posterBody:hover .trackPoster,
.posterBody:focus .trackPoster {
  opacity: 100%;
}

.clipRect {
  clip: rect(0, 250px, 125px, 0);
}

.rangeInput {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 4px; /* Specified height */
  background: linear-gradient(
    90deg,
    #ffffff 50%,
    #484848 50%
  ); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 6px;
  font: red;
}

/* The rangeInput handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 4px; /* Set a specific slider handle width */
  height: 4px; /* Slider handle height */
  border-radius: 16px;
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  transition: all 0.1s;
}

.rangeInput:hover::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}

.rangeInput::-moz-range-progress {
  background-color: red;
}

.songCart:hover img {
  transition: all 0.3s;
  /* @apply blur-sm; */
}

.songCart:hover .cartSingerName {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.85);
}

.songCart:hover .cartMusicName {
  transition: color 0.3s;
  color: white;
  /* text-shadow: 2px 1px rgb(255, 0, 0), -2px -1px rgb(0, 0, 255); */
  /* font-weight: 600; */
}

.songCart .cartPlay {
  transition: 0.3s;
  background-color: #0000003b;
}

.songCart .cartPlay svg {
  transition: all 0.3s;
  transform: translate(0, 100px);
}

.songCart:hover .cartPlay svg {
  transform: translate(0, 0);
  transition: all 0.3s;
}

.singerCart:focus img {
  transition: all 0.3s;
  @apply blur-sm;
}

.singerCart .cartLike {
  transition: 0.3s;
  background-color: #0000003b;
}

.singerCart .cartLike svg {
  transition: all 0.3s;
  opacity: 0%;
}

.singerCart:focus .cartLike svg {
  transition: all 0.3s;
  opacity: 100%;
  animation: like 1s ease-in-out;
}

.sectionTitle {
  overflow: hidden;
}

.sectionTitle .sectionTitleText {
  transition: 0.3s;
}

.sectionTitle img {
  transition: 0.3s;
  transform: scale(1);
}

.sectionTitle:hover img {
  transition: 0.3s;
  transform: scale(1.1);
}

.sectionTitle:hover {
  transition: 0.3s;
  background-color: #b30000;
}

.parallax-effect-glare-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.inner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-style: italic;
  color: white;
  transform: translateZ(60px);
}
